body {
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: fixed;
	width: 100%;
	height: 100%;
	overscroll-behavior: contain;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
@import url("https://use.typekit.net/zzt6omx.css");

button:focus {
	outline: 0;
}

#root {
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
	html {
		transform: rotate(-90deg);
		transform-origin: left top;
		width: 100vh;
		overflow-x: hidden;
		position: absolute;
		top: 100%;
		left: 0;
	}
}
